.button {
  border: none;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 20px;

  &--transparent {
    background: #f65221;
    border-radius: 5px;
    padding: 8px 15px;
    background: rgba(#fff, .1);
    border: none;
    color: #f65221;
    font-weight: 600;
    &:hover {
      color: #fff;
    }
  }

  &--accent {
    background: #f65221;
    border-radius: 5px;
    padding: 8px 15px;
    color: #fff;
    min-width: 130px;
    &:hover {
      background: rgba(#f65221, .4);
    }
  }

  &--base {
    color: #fff;
    background: transparent;
  }
}