.header {
  min-height: 300px;
  background: url("../../assests/images/netflixBG.jpg");
}

.header__top-btn {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.header__bottom {
  padding-top: 50px;
  h3 {
    color: #ffffff;
  }
}