.film-item {
  display: block;
  margin-bottom: 30px;
}

.film-item__img {
  position: relative;
  height: 460px;
  background: bisque;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.film-item__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  color: #b7acac;
}

.film-item__title {
  width: 70%;
}

.film-item__year {
  width: 30%;
  margin-left: auto;
  border: 1px solid #b7acac;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 12px;
}

.film-item__vote {
  font-size: 14px;
  color: #f65221;
}

.film-item__type {
  width: 100%;
  span {
   margin-right: 10px;
  }
}